{% extends "base.html" %}
{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1>  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="content-article">
    <header class="header-article">
        <div class="read-more">Posted on {{ article.locale_date}}</div>
 
   </header>
    <section class='article'>
        
        <div class="entry-summary">
            {{ article.summary }}
        </div>
    
        <div class="entry-content">
            {{ article.content }}
        </div>
        {% if SHARE_FB or SHARE_GPLUS or SHARE_TWITTER %}
            <div class="social-section">

<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
<a class="a2a_button_pinterest"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_vk"></a>
<a class="a2a_button_tumblr"></a>
<a class="a2a_button_whatsapp"></a>
</div>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->                
                
            </div>
        {% endif %}
    </section>
    <footer class="footer-article">
        <div class="tags-and-categories">Filed under <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        | Tagged: {% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} </a>{% endfor %}{% endif %}

        | <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">Permalink</a>            
        </div>
        <!-- metaldata 
        {% for m in article.Metaldata %}
        Rock on! {{ m }}
        {% endfor %}
        -->
    </footer>
    <!-- disqus {{ DISQUS_SITENAME }} -->
    {% include 'article_discus.html' %}
</div>
{% endblock %}
